services:
  localstack:
    image: localstack/localstack:latest
    ports:
      - '4566:4566'
      - '4571:4571'
    environment:
      - DEBUG=1
    volumes:
      - '/var/run/docker.sock:/var/run/docker.sock'
      - './localstack:/etc/localstack'
